.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App-header {
  /* background-color: #2D59D2; */
  height: 60px;
}

.App-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-Color: #282c34; */
  /* font-size: calc(10px + 2vmin); */
}

.content {
  margin: 5px;
  max-width: 700px;
}

.texts {
  padding: 10px;
}

img {
  border-radius: 50%;
}