/* 
Palette: 
https://colorhunt.co/palette/220248
*/


/*
NORD Theme
*/

:root {
    /* Polar night */
    --dark1: #2E3440;
    --dark2: #3B4252;
    --dark3: #434C5E;
    --dark4: #4C566A;
    /* Snow storm */
    --white1: #D8DEE9;
    --white2: #E5E9F0;
    --white3: #ECEFF4;
    /* Frost */
    --blue1: #8FBCBB;
    --blue2: #88C0D0;
    --blue3: #81A1C1;
    --blue4: #5E81AC;
}

.App {
    height: 100vh;
    width: 100vw;
    background: var(--dark1);
    overflow: hidden;
}

p {
    color: var(--white1);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    height: 100vh;
}

 /*
 .selfie-content {
    margin: 5px 25px 5px 5px; 
 }
*/

.bio-content {
    /* margin: 5px 5px 5px 25px; */
    padding: 10px 0px 20px 0px;
    text-align: center;
}

p.motto {
    font-size: 12px;
    opacity: 0.8;
    padding-top: 10px;
}

.img-wrapper {
    display: block;
    margin: 5px;
    width: 200px;
    height: 200px;
    border: 2px;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--blue3);
}

.selfie {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* scale: 1.1; */
}

.name {
    text-align: center;
    color: var(--blue4);
    letter-spacing: 3px;
}

.social-icons {
    margin-top: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
}

.social-icons a {
    margin: 0px 10px;
}

.social-icons a svg {
    transition: all 0.2s ease-in-out;
}

.social-icons a svg:hover {
    transform: scale(1.1);
}