.App {

}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: unset;
}

.App-header {
  /* background-color: #2D59D2; */
  /* height: 60px; */
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(#74ebd5, #ACB6E5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#74ebd5, #ACB6E5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-Color: #282c34; */
  /* font-size: calc(10px + 2vmin); */
}

.content {
  margin: 5px;
  max-width: 700px;
}

.texts {
  padding: 10px;
  /* font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); */
}

.avatar {
  border-radius: 50%;
}
